.alert-box-modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  left: 0;

  .alert-box-content {
    width: 400px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    .alert-box-title {
      background: #123456;
      padding: 5px;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .alert-box-message {
      padding: 10px;
      font-size: 14px;
    }

    .alert-box-action {
      text-align: center;
      padding: 10px 0;

      button.btn.btn-prim {
        width: 70px;
        height: 24px;
        background: rgba(18, 52, 86, 0.8);
        color: #ffffff;
        font-size: 12px;
        border: 0;
        outline: 0;
        border-radius: 5px;

        &:hover {
          background: rgba(18, 52, 86, 1);
          cursor: pointer;
        }
      }
    }
  }
}
