.form-component {
  font-family: sans-serif;
  font-size: 12px;
  form {
    .form-text-count {
      position: relative;
      font-weight: bold;
      background: rgba(235, 235, 235, 0.5);
      padding: 5px;
      display: inline-block;
      vertical-align: bottom;
      width: 40px;
      text-align: center;
      font-size: 16px;
      left: -65px;
      bottom: 10px;
      border-radius: 10px;
    }

    .form-date-picker,
    .form-occurrence {
      display: block;
      margin: 10px;
      margin-left: 0;
    }
  }

  .form-text {
    margin-right: 5px;
  }
}
