
#main-navigation {
  text-align: center;
}

ul.main-navigation-links {
  padding: 0;
}

ul.main-navigation-links li {
  list-style-type: none;
  display: inline-block;
  min-width: 150px;
  background: #000000;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #000000;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

#dropdown {
  min-width: 50px;
}

#dropdown:hover {
  cursor: pointer;
}

ul.sub-navigation-links {
  position: absolute;
  left: 0;
  padding: 0;
  display: none;
}

ul.sub-navigation-links li {

}

ul.collapsed-menu {
  padding: 0;
}

ul.collapsed-menu li {
  list-style-type: none;
  display: block;
  min-width: 150px;
  background: #000000;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

ul.main-navigation-links li.active,
ul.collapsed-menu li.active {
  background: #ffffff;
  color: #000000;
  box-sizing: border-box;
  border: 1px solid #000000;
}
